@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2A2A2A;
    font-family: 'Lexend', sans-serif;
    width: 1920px;
}



a, li {
    text-decoration: none;
    color: white;
    list-style: none;
}

h1, h2, h3, h4 {
    color: rgb(255, 255, 255);
    font-family: 'Lexend', sans-serif;
}

/*--------------------Style Header---------------*/

.header_menu {
    width: 1202px;
    height: 787px;
    margin: 0 auto;
}

.header_logotip {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}

.header_logotip_style {
    display: flex;
    align-items: center;
}

.header_logotip_text {
    padding-left: 10px;
}

.header_menu_text {
    width: 710px;
    display: flex;
    align-items: center;
}

.header_menu_text_style {
    display: flex;
    gap: 145px;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: yellow;
}


/*--------------------header_double_menu----------------*/

.header_double_menu {
    margin-top: 61px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 673.82px;   
}

.double_menu_text {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding-bottom: 68px;

}

.double_menu_text_style_1 {
    font-size: 48px;
    
}

.double_menu_text_style_2 {
    font-size: 72px;
    
}

.double_menu_text_style_3, .button_style_text {
    font-size: 18px;
}

.double_menu_button {
    width: 200px;
    height: 47px;
    background-color: #E2A300;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px 1px #E2A300;
    cursor: pointer;
    
}

.double_menu_text_style {
    box-sizing: border-box;
padding: 0;
margin: 0;
}

.double_menu_button_style:hover {
    text-decoration: none;
}

.button_style_text {
    color: black;
}

.button_style_text:hover {
    color: white;
}

.big_circle {
    width: 575px;
    height: 575px;
    background-color: #00C4F0;
    border-radius: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 80px 61px rgba(0, 144, 255, 0.24);
}

.big_circle_black {
    width: 435px;
    height: 435px;
    background-color: #2A2A2A;
    border-radius: 360px;
    box-shadow: 0px 4px 80px -19px #00C4F0 inset;
}

.wrapper_circle {
    position: relative;
}

.man_img {
    position: absolute;
    top: -58px;
    left: 76px;
}

.headman {
    position: absolute;
    top: -95px;
    left: 66px;
}

.small_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: #414141;
    border-radius: 360px;
    box-shadow: 0px 4px 80px 1px #00C4F0;
}
.small_circle_text_style {
    color: #00C4F0;
}

.circle_1 {
    position: absolute;
    top: 5px;
    left: 412px;
}

.circle_2 {
    position: absolute;
    top: 30px;
    left: 30px;;  
}

.circle_3 {
    position: absolute;
    top: 199px;
    left: -55px; 
}

.circle_4 {
    position: absolute;
    top: 387px;
    left: -21px; 
}

/*--------------------CONTAINER----------------*/

.container {
    background-color: #414141;
    height: 1719px;
    width: 1920px;
    margin: 0 auto;
   
}

.wrapper_block_skills {
    margin: 0 auto;
    width: 1202px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.wrapper_block_skills1 {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

.wrapper_block_skills2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.block_skills {
    width: 180px;
    height: 180px;
    background-color: #2A2A2A;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_skills_text_style {
    font-size: 18px;
    color: #00C4F0;
}

/*-----------------------*/

.wrapper_menu_aboutme {
    height: 2000px;
    display: flex;
    justify-content: center;
    
}

.image_man1_style, .image_man2_style, .image_man3_style {
    border: 20px solid #2A2A2A;
    border-radius: 10px;
}

.text_abautme_under {
    width: 470px;
    height: 900px;
    background-color: #2A2A2A;
    border: 50px solid #2A2A2A;
    border-radius: 10px;
}

.text_abautme_under_style {
    font-size: 21px;
    font-weight: 100; 
    
}


.aboutme_grid {
    z-index: 2;
    height: 1000px;
    margin-top: 182px;
   display: grid;
   grid-template-columns: 324px 1fr 359px;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: 
   
   "grid1 grid4 grid5"
   "grid2 grid4 grid5";
}


.image_man1 {
    position: absolute;
    grid-area: grid1;
    margin-top: 5px;
    margin-left: 26px;
    z-index: 2;
}

.image_man2 {
    position: relative;
    grid-area: grid2;
    margin-top: 172px;
    margin-left: 45px;
    z-index: 2;
}

.text_abautme_under {
    grid-area: grid4;
    margin-top: 62px;
}

.image_man3 {
    grid-area: grid5; 
    margin-top: 209px;
    margin-left: -47px;
  
}


.mask1_man1 {
    position: relative;
    top: -62px;
    left: -339px;
}

.mask2_man2 {
    position: relative;
    top: -234px;
    left: 90px;
}

.text_ame_style {
    position: relative;
    top: 34px;
    left: 372px;
    font-size: 44px;
    font-weight: 100px;
}


/*--------------Eclopcs----------*/

.circles_wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 1554px;
    left: 233px;
 
}

.circle_white {
    position: relative;
    width: 792px;
    height: 792px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 37px 18px rgba(255, 255, 255, 0.44);
}

.circle_white-dark {
    width: 650px;
    height:  650px;
    background-color: #414141;
    border-radius: 50%;
}


.circle_yellow {
    position: relative;
    left: 48px;
    top: -64px;
    width: 356px;
    height: 356px;
    background-color: rgb(255, 174, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 37px 18px rgba(255, 174, 0, 0.44);
}

.circle_yellow-dark {
    width: 254px;
    height:  254px;
    background-color: #414141;
    border-radius: 50%;
}


.circle_blue {
    position: relative;
    left: -445px;
    top: 491px;
    width: 486px;
    height: 486px;
    background-color: #00C4F0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 37px 18px rgba(0, 196, 240, 0.44);
}

.circle_blue-dark {
    width: 374px;
    height:  374px;
    background-color: #414141;
    border-radius: 50%;
}

/*---------------------container_porfolio------------------*/

.portfolio {
    margin-bottom: 50px;
}
.container_porfolio {
    width: 1170px;
    margin: 0 auto;
   
}

.wrapper_container_porfolio {
    width: 1170px;
    display: flex;
    justify-content: center;
    margin-top: 88px;
}

.portfolio_style {
    font-size: 72px;
}

.slider_wrapper {
    width: 970px;
    height: 600px;
    background-color: #414141;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    margin: 0 auto;
}

.web_style {
    border-radius: 30px;
    margin: 50px 81px 50px 50px;
}


.wrapper_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_abautit_style {
    font-size: 17px;
    text-align: center;
    font-weight: 100;
}

.text_abautit {
    margin-right: 50px;
    display: flex;
    justify-content: center;
}

.title_text_style {
    font-size: 24px;
}

.title_text {
    margin-right: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}


.link-text-style {
    font-size: 17px;
    color: #E2A100;
    font-weight: 100;
    cursor: pointer;

}

.text_link {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-right: 50px;
    color: #E2A100;
}

.arrow {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-left: 9px;
    margin-top: 4px;
}



.arrow .arrow-1 {
    position: relative;
    width: 25px;
    height: 2px;
    background-color: #E2A100;
    border-radius: 3px;
 

}

.arrow .arrow-1:after {
    content: '';
    width: 9px;
    height: 2px;
    background-color: #E2A100;
transform: rotate(-45deg);
    position: absolute;
    top: 3px;
    right: -1px;
    border-radius: 3px;
} 

.arrow .arrow-1:before {
    content: '';
    width: 9px;
    height: 2px;
    background-color: #E2A100;
    transform: rotate(45deg);
    position: absolute;
    top: -3px;
    right: -1px;
    border-radius: 3px;
}

.link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    margin-top: 25px;
}


.footer-container {
    margin-top: 150px;
    background-color: #414141;
    height: 238px;
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    width: 773px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer_logotip_imb {
    display: flex;
    align-items: center;

    
}


.footer_menu {
    display: flex;
    flex-direction: column;
 
}

.footer_logotip {
    display: flex;
    flex-direction: column;
    gap: 53px;

}
.footer_menu_style {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer_logotip_text {
    margin-left: 10px;
}

.footer_logotip_text_style {
    font-size: 16px;
    font-weight: 100;
}


.footer_logotip_button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: orange;
    margin-left: 32px;
    cursor: pointer;
    position: relative;
}

.arrow_yellow {
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: white;
    top: calc(50% - 15px);
    right: calc(50% - 1px);
}

.arrow_yellow:after {
    content: '';
    width: 15px;
    height: 2px;
    background-color: white;
    position: absolute;
    transform: rotate(45deg);
    top: 5px;
    left: -1px;
}

.arrow_yellow:before {
    content: '';
    width: 15px;
    height: 2px;
    background-color: white;
    position: absolute;
    transform: rotate(-45deg);
    top: 5px;
    left: -12px;
}
